*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  font-family: 'SF Pro Display', sans-serif;
}


body{
  max-width: 1450px;
  padding: 0 6em;
  margin: auto;
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
form{
  display: flex;
  flex-direction: column;
}
h3{
  font-size: 80px;
  color: #fcfcfc;
}
input{
  border: none;
  border-radius: 5px;
  border: 1px solid #fcfcfc;
  padding: 20px;
  outline: none;
  color: #ddd;
  margin-top: 20px;
}

input::placeholder{
  font-size: 15px;
}

input:focus{
  border-color: #00ff41;
}

h1{
  margin: 20px;
  color: #fcfcfc;
  font-size: 70px;
}
p{
  color: #00ff41;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 1px;
}